@font-face {
  font-family: Helvetica Neue;
  src: url(/HelveticaNeue.ttf);
}

@font-face {
  font-family: Helvetica Neue Bold;
  src: url(/HelveticaNeueBold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

video {
  object-fit: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

html,
body {
  height: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
}

@media only screen and (max-width: 924px) and (-webkit-min-device-pixel-ratio: 2) {
  video {
    height: 100vh;
    width: auto;
  }
}
