@font-face {
  font-family: Helvetica Neue;
  src: url(/HelveticaNeue.ttf);
}

@font-face {
  font-family: Helvetica Neue Bold;
  src: url(/HelveticaNeueBold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html,
body {
  height: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
}

@media only screen and (max-width: 924px) and (-webkit-min-device-pixel-ratio: 2) {
  video {
    width: 100vw;
    height: 400px;
    top: 16%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 924px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  video {
    width: 100vw;
    height: 400px;
    top: 0;
  }
}
