.muteButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.muteButton:hover {
  cursor: pointer;
}

@media (max-width: 924px) {
  .muteButton {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
