.muteButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
}

.muteButton:hover {
  cursor: pointer;
}

.copyright {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: x-small;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media (max-width: 924px) {
  .copyright {
    bottom: 16px;
    left: 16px;
  }

  .muteButton {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
