@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.muteButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.muteButton:hover {
  cursor: pointer;
}

.copyright {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: x-small;
  position: absolute;
  bottom: 20px;
  left: 20px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@media (max-width: 924px) {
  .copyright {
    bottom: 16px;
    left: 16px;
  }

  .muteButton {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
