.menuButton {
  display: none;
  filter: invert(100%);
}

.modalContainer {
  display: none;
}

@media (max-width: 924px) {
  .menuButton {
    display: block;
    position: absolute;
    top: 4px;
    left: 6px;
    height: 56px;
    width: 56px;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 250ms;
  }

  .modalContainer {
    display: block;
    position: relative;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 250ms;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 32;
    height: 100vh;
    width: 100vw;
  }

  .mobileNav {
    position: fixed;
    top: 44%;
    left: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .mobileNav a {
    color: #ffffff;
    font-size: large;
    font-family: Helvetica Neue Bold, Arial, sans-serif;
    text-decoration: none;
    margin-top: 8px;
  }

  .mobileNav a:hover {
    text-decoration: underline;
  }

  .exitButton {
    position: absolute;
    top: 22px;
    right: 20px;
    height: 24px;
    width: 24px;
  }

  .exitButton:hover {
    cursor: pointer;
  }
}
