@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  height: 200px;
  width: 200px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

.navWrapper {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.nav {
  justify-self: end;
}

.nav a {
  color: #ffffff;
  font-size: large;
  font-family: Helvetica Neue Bold, Arial, sans-serif;
  text-decoration: none;
  margin: 0 10px;
}

.nav a:hover {
  text-decoration: underline;
}

.links {
  justify-self: start;
}

.links a {
  margin: 0 12px;
}

.links a:hover {
  cursor: pointer;
}

.appleMusicLogo,
.instagramLogo,
.spotifyLogo,
.youtubeLogo {
  width: 24px;
  height: 24px;
}

@media (max-width: 1224px) {
  .nav {
    justify-self: center;
  }

  .nav a {
    margin: 0 6px;
  }

  .links {
    justify-self: center;
  }
}

@media (max-width: 924px) {
  .nav {
    display: none;
  }

  .links {
    position: fixed;
    top: 34px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .logo {
    display: none;
  }
}
